<!DOCTYPE HTML>
<html>
  <head>
    <title>Social Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% block head_scripts %}{% endblock %}    
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/flatly/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/flatly/bootswatch.less" media="screen" />

    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
        <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Social</li>
    </ul>

      {% block content2 %}{% endblock %}
    
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ScholaRec</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Social Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about" data-toggle="modal">About Us</a></li>
        </ul>
      </div>
    </div>
    
    <div class="modal fade" id="about" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x
            </button>
            <h4 class="modal-title">About This Application</h4>
          </div>
          <div class="modal-body">
            <p>
              ScholaRec is a Recommendation Engine for Scholarly Articles<br>
              <hr>
              Hosted <a href="http://arcolife.github.io/scholarec">HERE</a> <br>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}

    <form method="post" action="" id="disconnect-form">{% csrf_token %}</form>
    <script type="text/javascript">
      $(function () {
          $(document).on('click', 'a.disconnect', function (e) {
              e.preventDefault();
              $('form#disconnect-form')
                  .attr('action', $(this).attr('href'))
                  .submit();
          });
      });
    </script>
  </body>
</html>
