<!DOCTYPE HTML>
<html>
  <head>
    <title>ScholaRec| Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/roboto_fonts.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/script.js" type="text/javascript"></script>
    <script src="/static/js/jquery/jquery.magnific-popup.js" type="text/javascript"></script>
    <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="/static/js/jquery/jquery.fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox.css" media="screen" />

    <link rel="stylesheet" type="text/css" href="/static/flatly/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/flatly/bootswatch.less" media="screen" />

  </head>

  <script type="text/javascript">
    function change_icon() {
    $(".icon-search").hide();
    $("#loading").show();
    }
  </script>

  <script type="text/javascript">
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  <body>
    <div class="header" id="home">
      <div class="header_top">
	<div class="wrap">
	  
	  <div class="menu" style="float: left">
	    <ul class="nav nav-pills">
	      <li><a href="#home" class="scroll">Home</a></li>
	      <li><a href="#searchbar" class="scroll">Search</a></li>
	      <li><a href="#features" class="scroll">Documents</a></li>
	      <li><a href="#analytics" class="scroll">Analytics</a></li>
	      
	      <li><a href="#dashboard" class="scroll">Sample</a></li>
	      <li><a href="#about" class="scroll">About Us</a></li>
	    </ul>
	  </div>
	  
	  <div class="menu">
	    <ul class="nav nav-pills">
	      {% if user.username %}
	      <li class="active">
		<a href="/profile">Logged In as<span class="badge">{{ user.username }}</span></a>
	      </li>
	      <li class="">
		<a href="/logout/">Log<span class="badge">Out</span></a>
	      </li>

	      {% else %}
	      
	      <li>
		<a href="/facebook/connect/">
		  <button type="button" class="btn btn-primary btn-sm">Login Through FaceBook</button>
		</a>
	      </li>
	      <li>
		<!-- <a href="/login/" id="loginButton">		 -->
		<a href="/login/">
		  <button type="button" id="loginButton" class="btn btn-primary btn-sm">
		    Other Login
		  </button>
		</a>
		
		<!-- <div id="loginContainer"> -->
		<!--   <div id="loginBox">                 -->
		<!--     <fieldset id="body"> -->
		
		<!--       {% load url from future %} -->
		<!--       {% block content %} -->
		<!--       <form id="loginForm" action="{% url 'social:complete' "email" %}" method="post"> -->
		<!-- 	{% csrf_token %} -->
                <!--         <fieldset> -->
		<!-- 	  <label for="email">Email address:</label> -->
		<!-- 	  <input id="email" type="email" name="email" value="" /> -->
		<!-- 	</fieldset>	 -->
		<!-- 	<fieldset> -->
		<!-- 	  <label for="password">Password:</label> -->
		<!-- 	  <input id="password" type="password" name="password" value="" /> -->
		<!-- 	</fieldset> -->
		<!-- 	<fieldset> -->
		<!-- 	  <label for="fullname">Full name:</label> -->
		<!-- 	  <input id="fullname" type="text" name="fullname" value="" /> -->
		<!-- 	</fieldset> -->
		
		<!-- 	<button id="login">Signup</button> -->
		<!-- 	<label for="checkbox"> -->
		<!-- 	  <input type="checkbox" id="checkbox"> <i>Remember me</i> -->
		<!-- 	</label> -->
		<!-- 	<br><br> -->
		<!-- 	<span><a href="#">Forgot your password?</a></span> -->
		<!--       </form> -->
		<!--       {% endblock %} -->
		<!--       <form action="/login/"> -->
		<!-- 	<input type="submit" id="login" value="Or Use OpenID"> -->
		<!--       </form> -->
		
		<!--     </fieldset> -->
		<!--   </div> -->
		<!-- </div> -->
		
	      </li>
	      
	      {% endif %}
	    </ul>
	  </div>							

	</div>
      </div>
    </div>		

    <!-- GOOGLE+  Sign in Button
	 <div>
	   <span id="signinButton">
	     <span
		class="g-signin"
		data-callback="signinCallback"
		data-clientid="CLIENT_ID_HERE"
		data-cookiepolicy="single_host_origin"
		data-requestvisibleactions="http://schemas.google.com/AddActivity"
		data-scope="https://www.googleapis.com/auth/plus.login">
	     </span>
	   </span>    
	   <script type="text/javascript">
	     function signinCallback(authResult) {
	     if (authResult['status']['signed_in']) {
	     // Update the app to reflect a signed in user
	     // Hide the sign-in button now that the user is authorized, for example:
	     document.getElementById('signinButton').setAttribute('style', 'display: none');
	     } else {
	     // Update the app to reflect a signed out user
	     // Possible error values:
	     //   "user_signed_out" - User is signed-out
	     //   "access_denied" - User denied access to your app
	     //   "immediate_failed" - Could not automatically log in the user
	     console.log('Sign-in state: ' + authResult['error']);
	     }
	     }
	   </script>
	 </div> -->
    
    <div class="main">
      <div class="content">	
	<div class="content_top">  
	  <div class="wrap">                                  		
	    <div class="banner_desc">
              <img src="/static/img/scholarec_logo4.png" alt="ScholaRec Logo" style="display: right;"/>                  
	      <h1>Recommender System for <br><span>Scientific Documents</span></h1>  
              <h3>ScholaRec provides everything you need to research<br /></h3>
	      <a href="#searchbar" class="scroll">
		<button type="button" class="btn btn-success btn-lg">
		  Get Started 
	      </button></a>
	      <!-- Codes by HTML.am -->
	      <!--<marquee behavior="scroll" direction="down">
		  <img src="http://www.html.am/images/html-codes/marquees/arrow-down.gif" width="32" height="32" alt="Arrow pointing down" />
	      </marquee>-->
            </div>
	  </div>
	</div>
	
        <div class="content_bottom" id="searchbar">
          <div class="wrapper">  	  
	    <div style="text-align: centre;">
	      <br><br><br><br>
	      <img src="/static/img/scholarec_logo.jpg" alt="ScholaRec Logo"/>
	      <br><br>
	      <form action="/results/1" method="get">
		<input id="search" name="q" type="text" placeholder="Keywords: Author, Title, Summary..." size=50>
		<button class="btn btn-sm btn-inverse" id="artist_submit" type="submit" onclick="change_icon()">
		  <i class="icon-search"></i>
		  <img id="loading" src="/static/img/face-loader.gif" style="display: none;">
		  Search
		</button>
	      </form>
	      <a href="/search/" alt="Clutter-Free"><button type="button" class="btn btn-info btn-sm">Want Clutter-Free Search?</button></a>
	      <br><br>
	      <div id='search_stats'>
		<a href="#features" class="scroll">	
		  <button type="button" class="btn btn-success btn-sm">
		    100,000's of thesis, authors, papers, and articles 
		  </button>
		</a>		
              </div>          
	    </div>
	  </div>
	  <br>
          <h4>Our success is measured through the success of our recommendation system.</h4>
	</div>

	
        <div class="features" id="features">
          <div class="wrap">                             	
            <h2>Articles, Reports and Research Papers</h2>
            <h4>Search thousands of scientific documents within minutes, <br>
	      including Computer Science, Quantitative Biology, AstroPhysics and many more:</h4>
	    <a href="#analytics" class="scroll">	
	      <button type="button" class="btn btn-success btn-sm">
		Discover interesting patterns and connections..
	      </button>
	    </a>
	    <div class="features_grids">
	      <div class="section group">
		<div class="grid_1_of_4 images_1_of_4">
		  <h3>Physics</h3>
		  <p>General Relativity and Quantum Cosmology, High Energy Physics - Experiment/ Lattice/ Phenomenology/ Theory, 
		    Mathematical Physics, Nuclear Experiment, Nuclear Theory, Quantum Physics ..</p>
		</div>
		<div class="grid_1_of_4 images_1_of_4">
		  <h3>Mathematics</h3>
		  <p>Information Theory, K-Theory and Homology, Logic, Mathematical Physics, Metric Geometry, Number Theory,
		    Numerical Analysis, Optimization and Control, Probability, Quantum Algebra, Rings and Algebras, 
		    Spectral Theory, Symplectic Geometry ..</p>
		</div>
		<div class="grid_1_of_4 images_1_of_4">
		  <h3>Nonlinear Sciences</h3>
		  <p>Adaptation and Self-Organizing Systems, Cellular Automata and Lattice Gases, Chaotic Dynamics, 
		    Exactly Solvable and Integrable Systems, Pattern Formation and Solitons ..</p>
		</div>
		<div class="grid_1_of_4 images_1_of_4">
		  <h3>Quantitative Finance / Statistics</h3>
		  <p>Computational Finance, General Finance, Pricing of Securities, Risk Management,
		    Statistical Finance, Trading and Market Microstructure, Applications, Computation, Machine Learning, 
		    Methodology, Statistics Theory ..</p>
		</div>
	      </div>
	      
	      <script>
		$(document).ready(function() {
		$('.popup-with-zoom-anim').magnificPopup({
		type: 'inline',
		
		fixedContentPos: false,
		fixedBgPos: true,
		
		overflowY: 'auto',
		
		closeBtnInside: true,
		preloader: false,
		
		midClick: true,
		removalDelay: 300,
		mainClass: 'my-mfp-zoom-in'
		});
		
		});
	      </script>
	    </div>
	  </div>
	</div>
      </div>
      
      <div class="dashborder_img" id="analytics">
        <div class="wrap">
	  <br><br>
          <h2>Insightful <span>Analytics</span></h2>
          <h4>NoSQL based Analytics and Visualization</h4>
	  <br><br>
	  <table class="table table-striped table-hover ">
	    <tbody>	      
	      <tr class="info">
		<td>1</td>
		<td>Visualization</td>
		<td>Published Document Count</td>
		<td><a href="/visualize">View</a></td>
	      </tr>
	    </tbody>
	  </table> 
	  <a href="#dashboard" class="scroll">	
	    <button type="button" class="btn btn-success btn-sm">
	      Sample Results
	    </button>
	  </a>
	  <br><br>
        </div>
      </div>      
      <div class="dashborder_img" id="dashboard">
        <div class="wrap">
	  <br><br>
          <h2>Powerful <span>Search</span></h2>
          <h4>Recommender System for Scientific Documents</h4>
	  <br><br>
	  <table class="table table-striped table-hover ">
	    <tbody>	      
	      <tr class="info">
		<td>1</td>
		<td>Results</td>
		<td>Sample Results from a query</td>
		<td><a href="/results/1?q=victory">View</a></td>
	      </tr>
	      <tr class="success">
		<td>2</td>
		<td>Authors-Graph</td>
		<td>Sample Author graph visualization</td>
		<td><a href="/authors/">View</a></td>
	      </tr>
	      <tr class="danger">
		<td>3</td>
		<td>Citations</td>
		<td>Sample visualization of Citations</td>
		<td><a href="/citations/">View</a></td>
	      </tr>
	      <tr class="warning">
		<td>4</td>
		<td>References</td>
		<td>Sample visualization of References</td>
		<td><a href="/references/">View</a></td>
	      </tr>
	    </tbody>
	  </table> 
	  <a href="#about" class="scroll">	
	    <button type="button" class="btn btn-success btn-sm">
	      About Us
	    </button>
	  </a>
	  <br><br>
        </div>
      </div>
      
      <div class="footer" id="about">
   	<div class="wrap">
   	  <div class="section group example">
	    <div class="col_1_of_4 span_1_of_4 list">
	      <h3>Overview</h3>
	      <ul>
		<li><a href="http://work.arcolife.in/scholarec">The Project</a></li>
	      </ul>				   
 	    </div>
 	    <div class="col_1_of_4 span_1_of_4 list">
	      <h3>Other Sources on Web</h3>
	      <ul>
		<li><a href="http://dailyarxiv.com/">Latest from ArXiv</a></li>
		<li><a href="http://paperrater.org/">Rate and Review Papers</a></li>
	      </ul>
	    </div>
	    <div class="col_1_of_4 span_1_of_4 list">
	      <h3>Data Sources</h3>
	      <ul>
		<li><a href="#">Physics</a></li>
		<li><a href="#">Mathematics</a></li>
		<li><a href="#">Non-Linear Sciences</a></li>
		<li><a href="#">Computer Sciences</a></li>
		<li><a href="#">Quantative Biology</a></li>	
		<li><a href="#">Quantative Finance</a></li>
		<li><a href="#">Statistics</a></li>
	      </ul>				   
 	    </div>
	    <div class="col_1_of_4 span_1_of_4 list">
	      
	      <h3>Stay in touch</h3>
	      <ul>
		<li class="googleplus"><a href="https://plus.google.com/+ArchitSharma1337/" target="_blank">
		    <img src="/static/img/googleplus.png" alt="" /> Google+</a>
		</li>
		<li class="twitter"><a href="http://twitter.com/arcolife" target="_blank"> 
		    <img src="/static/img/twitter.png" alt="" /> Twitter</a>
		</li>
		<li><a href="http://www.facebook.com/caftlegs/" target="_blank"> <img src="/static/img/facebook.png" alt="" /> Facebook</a></li>
		<div class="clear"></div>
	      </ul>
   	    </div>			   
 	  </div>
	  <div class="clear"></div>
	</div>
      </div> 
    </div> 
    <div class="copy_right">
      <div class="wrap">
	<p>&copy; 2014 arcolife's creations</p>
      </div>
    </div>
  </body>
</html>
