{% extends "base_viz.html" %}

{% block header %}
<script language="javascript" content-type="text/javascript" src="/static/viz/jquery.js "></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/viz/stats.js"></script>
{% endblock %}

{% block content %}

<div>
  <!-- <strong style="color: #309B84;"><center>Published doc timestamps</center></strong><br/> -->
  <div id="d_chart1" class="col-lg-3" style="width: 800px; height: 500px;"></div>
  <!-- <div id="d_chart2" class="col-lg-3" style="width: 600px; height: 450px;"></div> -->
</div>

<div>
  <!-- <strong style="color: #309B84;"><center>Viz 2</center></strong><br/> -->
  <div id="d_chart2" class="col-lg-8" style="width: 1400px; height: 800px;"></div>
  <!--   <div id="d_chart4" class="col-lg-3" style="width: 600px; height: 450px;"></div> -->
</div>

<!-- <div><strong style="color: #309B84;"><center>Viz 3</center></strong><br/> -->
<!--   <div id="d_chart5" class="col-lg-3" style="width: 600px; height: 450px;"></div> -->
<!--   <div id="d_chart6" class="col-lg-3" style="width: 600px; height: 450px;"></div> -->
<!-- </div> -->

<!-- <div><strong style="color: #309B84;"><center>Viz 4</center></strong><br/> -->
<!--   <div id="d_chart7" class="col-lg-3" style="width: 600px; height: 450px;"></div> -->
<!--   <div id="d_chart8" class="col-lg-3" style="width: 600px; height: 450px;"></div> -->
<!-- </div> -->

<!-- <div><strong style="color: #309B84;"><center>Viz 5</center></strong><br/> -->
<!--   <div id="d_chart9" class="col-lg-3" style="width: 600px; height: 450px;"></div> -->
<!--   <div id="d_chart10" class="col-lg-3" style="width: 600px; height: 450px;"></div> -->
<!-- </div> -->

{% endblock %}
