<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[OpCon] Opinion Construe</title>
    
  	<link href="/static/css/style1.css" rel="stylesheet" type="text/css" media="screen"/>
  	<script type="text/javascript" src="/static/js/jquery/jquery-1.8.3.min.js"></script>
    
  </head>
  
  <script type="text/javascript">
  	function change_icon() {
		$(".icon-search").hide();
		$("#loading").show();
  	}
  </script>
  
  <body>
  	<div id="wrapper">
  	
  		<div id="div-propaganda">
  			<div class="texto">
  				ScholaRec: A Recommendation Engine for Scholarly Articles. <br/>
  				<span class="sub-texto">Document recommendation for real!</span>
  			</div>
  		</div>
  		
		<div id="div-busca">
			<div style="text-align: right;">
				<form action="/results/" method="post">{% csrf_token %}
					<input id="search" name="q" type="text" placeholder="authors, title, summary, keywords...">
					<button class="btn btn-large btn-inverse" id="artist_submit" type="submit" onclick="change_icon()" value="Search">
						<i class="icon-search"></i>
						<img id="loading" src="/static/img/face-loader.gif" style="display: none;">
					</button>
				</form>
			</div>
					
		</div>
	</div>
  </body>
  
</html>
